{% extends 'show/layout.html'%}

{% block content %}


<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->

        <h1 class="w3-text-teal">Bolão Show</h1>
        <p>Este é um site de entretenimento esportivo, para celebrar a amizade e o amor ao esporte. Convide seus amigos, organize seu o bolão com as suas próprias regras ou com um dos nossos regulamentos padronizados e torça muito enquanto aproveita para ganhar prêmios!</p>
        <br>
        <h3 class="w3-text-teal">Bolão Aberto da Copa do Mundo - Participe!</h3>
        {% load static %}<img src="{% static 'show/img/russia_copa.png' %}" alt="Logo da Copa na Russia 2018"/>
 

{% endblock %}